

<div class='selfInfoWindow' [style.display]="isSelectingPicture?'none':'flex'">
    <div class='close'>
      <img src='assets/img/close.ico' alt="" routerLink="/home">
    </div>
    <!-- <button nz-button [nzType]="'primary'">测试按钮</button> -->
    <div class='imgItem'>
        <div class='imgUnit'>
            <img [src]="common.getImgSrcPhoto()"  alt="" (click)='openSelectPictureWindow()'>
        </div>
    </div>
    
    <div class='item'>
      <div class='tip'>用户名:</div>
      <input type="text" class='name' [(ngModel)]='common.userPersonalInformation.userName' placeholder="用户名">
      <img [src]='common.getIcoUrl(common.checkPersonalName(common.userPersonalInformation.userName))' alt="">
    </div>
    <div class='item'>
      <div class='tip'>性别:</div>
      <!-- <input type="text" class='sex' [(ngModel)]='common.userPersonalInformation.userSex'  placeholder="性别" > -->
      <!-- <img [src]='common.getIcoUrl(common.checkPersonalSex(common.userPersonalInformation.userSex))' alt=""> -->
      <label><input type="radio" name="sex" (click)="changeUserSex(1)" [checked]="common.userPersonalInformation.userSex === 1" [value]="0">男生</label>
      <label><input type="radio" name="sex" (click)="changeUserSex(2)" [checked]="common.userPersonalInformation.userSex === 2">女生</label>
    </div>
    <div class='item'>
      <div class='tip'>生日:</div>
      <input type="date" class='birthday' [value]='common.timestampToTimeString(common.userPersonalInformation.userBirthday)' (change)='listenUserBirthdayChanged($event)'>
      <img [src]='common.getIcoUrl(common.checkPersonalBirthday(common.userPersonalInformation.userBirthday))' alt="">
    </div>
    <div class='item'>
      <div class='tip'>手机:</div>
      <input type="text" class='phone' [(ngModel)]='common.userPersonalInformation.userContactPhone' placeholder="手机" >
      <img [src]='common.getIcoUrl(common.checkPhone(common.userPersonalInformation.userContactPhone))' alt="">
    </div>
    <div class='item'>
      <div class='tip'>邮箱:</div>
      <input type="text" class='email' [(ngModel)]='common.userPersonalInformation.userContactEmail' placeholder="邮箱" >
      <img [src]='common.getIcoUrl(common.checkEmail(common.userPersonalInformation.userContactEmail))' alt="">
    </div>
    <div class='option'>
      <button (click)='askForChangingUserPersonalInformation()'>修改</button>
    </div>
  </div>
  <!-- 这是子组件，用于上传图片 -->
  <app-picture-upload-tool (emitter)='getMsgFromSon($event)' [style.display]="openState===1?'inherit':'none'"></app-picture-upload-tool> 
  
  
  
  
  