      
<div class="background"></div>
<div class="windowLogin">
  <div class='imgUnit'>
      <img [src]="common.defaultImgPath"  alt="">  
  </div>
  <div class='inputUnit'>
    <input type="text" placeholder="账号" class="inputUsername" [(ngModel)]='loginForm.email'/>
    <img [src]="common.getIcoUrl(common.checkUsername(loginForm.email))" alt="">
  </div>
  <div class='inputUnit'>
    <input type="password" placeholder="密码" class="inputPassword" [(ngModel)]='loginForm.password'/>
    <img [src]="common.getIcoUrl(common.checkPassword(loginForm.password))" alt="">
  </div>
  <button class="buttonLogin" (click)='askForLogin()'>登 录</button>
  <button class="buttonGoToRegister" routerLink="/register">我还没有账号~</button>
</div>
